<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
        connectionString="Data Source=a28ea586-397b-40d3-a3ff-a38684f35697.sqlserver.sequelizer.com;Initial Catalog=db3093;User ID=db3093;Password=kTZoigBkZMvLfGemXoqViitjG6n45Zv7p8p4CXrfbyJdjueK5C23h4zbzQPm2Go8"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>